@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151515;
  --primary: #052c27;
}

@theme {
  --font-anton: "Anton", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --color-green: #052c27;
  --color-grey: #151515;
  --color-white: #ffffff;

  --color-green-hover: #074037;
  --color-grey-hover: #2a2a2a;

  --color-brand-green: #052c27;
  --color-brand-grey: #151515;
  --color-brand-white: #ffffff;
}
